.updated, .error {
    /*	display:none!important*/
} /* disable the admin notices */

#fg_of_container {
     width: 1155px;
    position:relative;
    z-index: 0;
}
#fg_of_container #fg_header {
    height: 80px;
    background:#dfdfdf url("../../../../wp-admin/images/gray-grad.png") repeat-x left top;
    border: 1px solid #ccc;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
}
#fg_of_container #fg_header .fg_logo {
    float: left;
    margin:5px 15px;
    margin-top:10px;
}
#fg_of_container #fg_header .fg_logo h2 {
    font-style:normal;
}
#fg_of_container #fg_header .fg_icon-option {
    float: right;
    width: 178px;
    background: url(../image/popup-ninja.png) no-repeat;
    height: 71px;
    margin: 9px 0 0;
}
#fg_of_container #fg_main {
    background-color: #f1f1f1;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding-top: 1px;
}
#fg_of_container #fg_main .pop-name{
    padding-top:11px;
}
#fg_of_container #fg_of-nav {
    float: left;
    position: relative;
    z-index: 9999;
    width: 147px;
}
#fg_of_container #fg_of-nav li {
    margin-bottom:0
}
#fg_of_container #fg_of-nav ul li a:link, #fg_of-nav ul li a:visited {
    display: block;
    
    font-family: Georgia, Serif;
    font-size: 13px;
    text-decoration: none;
    color: #797979;                                                             
    border-bottom: 1px solid #d8d8d8;
}
#fg_of_container #fg_of-nav ul li.current a, #fg_of-nav ul li a:hover {
    color: #21759b;
    background-color: #fff;
}
#fg_of_container #fg_content {
    float: right;
    min-height: 550px;
    width: 980px;
    margin-left: -1px;
    padding: 0 10px;
    font-family: "Lucida Grande", Sans-serif;
    background-color: #fff;
    border-left: 1px solid #d8d8d8;
}
#fg_of_container #authentication {
    background-color: #FFFFFF;
    border-bottom: 1px solid #D8D8D8;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #D8D8D8;
    font-family: "Lucida Grande",Sans-serif;
    min-height: 550px;
    padding: 1px 17px;
}
#fg_of_container  .current-connect{
    padding: 1px 17px; 
    border-bottom: 1px solid #D8D8D8;
}
#fg_of_container #redirect{
    padding: 10px 17px; 
    border-bottom: 1px solid #D8D8D8;
}
#fg_of_container #fg_content .fg_section {
    margin-bottom: 10px;
}
#fg_of_container #fg_content .fg_section h3.fg_heading {
    margin: 10px 0 10px 0;
    padding: 7px 0px;
    border-bottom: 1px solid #e7e7e7;
}
#fg_of_container #fg_content .fg_section .fg_controls {
    float: left;
    width: 345px;
    margin: 0 15px 0 0;
}
#fg_of_container #fg_content .fg_section .explain {
    float: left;
    width: 225px;
    padding: 0 10px 0 0;
    font-size: 11px;
    color: #999999;
}
#fg_of_container #fg_content .section-checkbox .fg_controls {
    width:25px
}
#fg_of_container #fg_content .section-checkbox .explain {
    width:540px
}
#of_cointainer #fg_content .section-color .fg_controls {
    width:125px
}
#fg_of_container #fg_content .section-color .explain {
    width:440px
}
#fg_of_container #fg_content .section-info h3.fg_heading {
    font-size: 12px;
    font-weight: 100;
    border: 0;
    margin-top: 20px;
    letter-spacing: 1px;
    border-top: 1px solid #FFF298;
    margin-bottom: 0;
    background:#EFE186;
    padding: 10px 20px;
}
#fg_of_container #fg_content .section-info .fg_controls {
    margin: 0 0 20px;
    padding: 15px 20px;
    width: auto;
    line-height: 1.5em;
    font-size: 14px;
    font-style: italic;
    font-family: Georgia, arial;
    background: #FFF298;
    border:1px solid #ECD852;
    color:#424242;
}
#fg_of_container #fg_content .section-info .fg_controls small {
    font-size: 12px
}
#fg_of_container #fg_content .section-info h3.fg_heading {
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
}
#fg_of_container #fg_content .section-info .fg_controls {
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
}
#fg_of_container textarea, #fg_of_container input, #fg_of_container select {
    -moz-border-radius-bottomleft:4px;
    -moz-border-radius-bottomright:4px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-style:solid;
    border-width:1px;
}
#fg_of_container .fg_controls input, #fg_of_container .fg_controls select, #fg_of_container .fg_controls textarea {
    margin-bottom: 9px !important;
    background-color: #f1f1f1;
    border: 1px solid;
    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
    width: 500px;
    padding: 4px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
}
#fg_of_container .fg_controls select {
    padding: 0 0 0 4px;
    width: 500px
}
#fg_of_container .fg_controls textarea {
    width: 500px;
}
#fg_of_container .fg_controls .input-text-small {
    width: 60px;
    margin-right:10px
}
#fg_of_container .meta-two {
    margin-right:10px
}
#fg_of_container .fg_controls .of-color {
    float:left;
    width: 80px;
    margin-left:5px; /* font-size:20px; height:34px;*/
}
#fg_of_container #fg_content .section-typography .fg_controls {
    width:425px
}
#fg_of_container #fg_content .section-typography .explain {
    width:140px
}
#fg_of_container .fg_controls .of-typography-size {
    width:80px;
    float:left
}
#fg_of_container .fg_controls .of-typography-unit {
    width:50px;
    float:left
}
#fg_of_container .fg_controls .of-typography-face {
    width:100px;
    float:left
}
#fg_of_container .fg_controls .of-typography-style {
    width:80px;
    float:left
}
#fg_of_container .fg_controls .of-radio-img-img {
    border:3px solid #fff;
    margin:0 5px 10px 0;
    display:none;
    cursor:pointer;
}
#fg_of_container .fg_controls .of-radio-img-selected {
    border:3px solid #ccc
}
#fg_of_container .fg_controls .of-radio-img-img:hover {
    opacity:.8;
}
#fg_of_container .fg_controls .of-border-width {
    width:80px;
    float:left
}
#fg_of_container .fg_controls .of-border-style {
    width:120px;
    float:left
}
#fg_of_container .fg_group {
    padding-bottom:20px
}
#fg_of_container .fg_group h2 {
    /*display:none;*/
    border-bottom:3px solid #e7e7e7;
	padding-bottom: 10px;
}
#fg_of_container .fg_group .fg_section ol.step_ol li.step_li
{
    font-size: 17px;
}
#fg_of_container .controls input:focus, #fg_of_container select:focus, #fg_of_container textarea:focus {
    background:#fff;
}
.fg_save_bar_top {
    background: #f3f3f3;
    border:solid #ccc;
    border-width:0px 1px 1px 1px;
    padding: 10px 20px 0px 20px;
    min-height: 35px;
    text-align: right;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
}
.hide {
    display:none
}
.ajax-loading-img-top {
    margin: 8px 4px 0;
    float:left
}
.ajax-loading-img-bottom {
}
.of-option-image {
    max-width:340px;
}
#fg_of_container .mini .fg_controls select, #fg_of_container #fg_content .fg_section .mini .fg_controls {
    width: 70px;
}
#fg_of_container .mini .fg_controls input, #fg_of_container #fg_content .mini .fg_controls {
    width: 70px;
}
#fg_of_container #fg_content .mini .explain {
    width:500px;
}
.of-notice {
    background: #ffd1d1;
    border:1px solid #DFA8A7;
    -moz-border-radius:8px;
    text-align: center;
    margin-bottom: 15px
}
.check { 
    margin-bottom: 1px ;
    padding: 4px;
    width: auto;
}
.check label { margin-left: 5px ; padding: 4px;     width: auto;
}

#fg_of_container #fg_of-nav ul li a.pn-view-a{
    padding: 10px 10px 20px 13px;
	font-size: 16px;
}

#fg_of_container #fg_of-nav .button-highlighted{
    margin-left:8px;
}
#fg_of_container .help-content{
    background-color: #FFFFE0;
    border:1px solid #E6DB55;
    -moz-border-radius:8px;
    margin: 8px 10px 9px 0;
    padding:1px 2px 3px 4px;
}
#fg_of_container .help-content table td,#fg_of_container .help-content table th{
    padding:10px;
} 
#fg_of_container .display-setting input[type="text"] {
    width: 60px;
}
#fg_of_container .fg_section #help_txt{
    padding-left:50px;
}
.fg_trial-notify{
    margin-top: 20px;
 position: relative;
z-index: 100;
border: 1px solid #70a4d2!important; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.04);
-moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.04);
box-shadow: inset 0 0 15px rgba(0,0,0,0.04);
overflow: hidden;
padding: 5px 0 5px!important;
background-color: #b4d5f2;
color: white;
margin-right: 10px;
}
div.direction_box  label  input{
    width: 20px!important; 
    height: 15px!important; 
    padding: 0; 
}

.review_link{
margin-left: 14px;
height: 25px;
-moz-box-shadow: inset 0px 1px 0px 0px #a9eba3;
-webkit-box-shadow: inset 0px 1px 0px 0px #a9eba3;
box-shadow: inset 0px 1px 0px 0px #a9eba3;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7edd76), color-stop(1, #65c25e));
background: -moz-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: -webkit-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: -o-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: -ms-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: linear-gradient(to bottom, #7edd76 5%, #65c25e 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7edd76', endColorstr='#65c25e',GradientType=0);
background-color: #7edd76;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #3fa23a;
display: inline-block;
color: #ffffff;
font-size: 16px;
font-weight: normal;
padding: 7px 27px;
text-decoration: none;
text-shadow: 0px 1px 0px #3c7038;
cursor: pointer;
margin-top: 10px;
}
.bounce_to {
height: 20px;
-moz-box-shadow: inset 0px 1px 0px 0px #a9eba3;
-webkit-box-shadow: inset 0px 1px 0px 0px #a9eba3;
box-shadow: inset 0px 1px 0px 0px #a9eba3;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7edd76), color-stop(1, #65c25e));
background: -moz-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: -webkit-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: -o-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: -ms-linear-gradient(top, #7edd76 5%, #65c25e 100%);
background: linear-gradient(to bottom, #7edd76 5%, #65c25e 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7edd76', endColorstr='#65c25e',GradientType=0);
background-color: #7edd76;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #3fa23a;
display: inline-block;
color: #ffffff;
font-size: 16px;
font-weight: normal;
padding: 7px 27px;
text-decoration: none;
text-shadow: 0px 1px 0px #3c7038;
cursor: pointer;
margin-top: 10px;
}
.bounce_to:hover, .review_link:hover {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #65c25e), color-stop(1, #7edd76));
background: -moz-linear-gradient(top, #65c25e 5%, #7edd76 100%);
background: -webkit-linear-gradient(top, #65c25e 5%, #7edd76 100%);
background: -o-linear-gradient(top, #65c25e 5%, #7edd76 100%);
background: -ms-linear-gradient(top, #65c25e 5%, #7edd76 100%);
background: linear-gradient(to bottom, #65c25e 5%, #7edd76 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65c25e', endColorstr='#7edd76',GradientType=0);
background-color: #65c25e;
}
.fg_embed_code_save {
width: auto;
height: auto;
display: inline-block;
-moz-box-shadow: inset 0px 1px 0px 0px #cdff42;
-webkit-box-shadow: inset 0px 1px 0px 0px #7bdcf4;
box-shadow: inset 0px 1px 0px 0px #7bdcf4;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #36caf0), color-stop(1, #22abe9));
background: -moz-linear-gradient(top, #36caf05, #7ba30d 100%);
background: -webkit-linear-gradient(top, #36caf0 5%, #22abe9 100%);
background: -o-linear-gradient(top, #36caf0 5%, #7ba30d 100%);
background: -ms-linear-gradient(top, #36caf0 5%, #7ba30d 100%);
background: linear-gradient(to bottom, #36caf0 5%, #22abe9 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6c947', endColorstr='#7ba30d',GradientType=0);
background-color: #36caf0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 4px;
border: 1px solid #0F799E;
display: inline-block;
color: #ffffff;
font-size: 19px;
font-weight: bold;
padding: 7px 16px;
cursor: pointer;
text-decoration: none;
text-shadow: 0px 1px 0px #13506D;
}
.fg_embed_code_save:hover {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #22abe9), color-stop(1, #36caf0));
background: -moz-linear-gradient(top, #7ba30d 5%, #a6c947 100%);
background: -webkit-linear-gradient(top, #22abe9 5%, #36caf0 100%);
background: -o-linear-gradient(top, #22abe9 5%, #36caf0 100%);
background: -ms-linear-gradient(top, #7ba30d 5%, #36caf0 100%);
background: linear-gradient(to bottom, #22abe9 5%, #36caf0 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ba30d', endColorstr='#a6c947',GradientType=0);
background-color: #22abe9;

}
.fg_notice_div{
margin-top: 20px;
margin-bottom: 20px;
position: relative;
z-index: 100;
border: 1px solid #70a4d2!important; 
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.04);
-moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.04);
box-shadow: inset 0 0 15px rgba(0,0,0,0.04);
overflow: hidden;
padding: 5px 0 5px 10px !important;
background-color: #b4d5f2;
color: black;
margin-right: 10px;
}
.fg_button_div{
float: left;
margin: 10px 10px;
}
p.fg_video_notice{
color: black;
max-width: 800px;
margin: 0;
padding: 0 5px; 
text-align: left;
margin: 10px 0 10px 0;
font-size: 20px;
line-height: 28px;
font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
font-weight: normal;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
float: left;
vertical-align: middle;
}	
.fg_getting_started{
 margin-top: 10px; 
float: left;
font-size: 18px !important; 
}	
.hide_video_notice{
margin-top: 10px;
float: left;
overflow: hidden;
font-size: 18px !important; 
opacity:0.6;
}
div#fg_videoContainer{
display: none;
width: 100%;
height: 100%;
background: url('../image/overlay.png' )repeat;
position:fixed;
z-index: 10000;
opacity:0.93;
}
div#fg_videoContainer .video_tobe_shown{
border: 5px solid white;
margin-top: 10%;
margin-left: 20%;
padding: 3px;
opacity:1 !important;
}

p.fg_division_note{
color: black;
max-width: 1150px;
margin: 0;
padding: 0 10px; 
text-align: left;
margin: 10px 10px 10px 0;
font-size: 22px;
line-height: 28px;
font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
font-weight: normal;
/* text-shadow: 0 1px 1px #3b8dd2; */
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
float: left;
vertical-align: middle;
}
.fg_button_prime{
margin: 0 10px 0 0 ;
color: white;
font-size: 14px!important;
line-height: 16px!important;
height: auto!important;
-webkit-border-radius: 3px;
border-radius: 3px;
padding: 5px 12px;
vertical-align: middle;
color: #fff;
text-align: center;
text-decoration: none;
 border: 1px solid #317dbc; 
-webkit-transition: none;
-moz-transition: none;
cursor: pointer;
outline: 0;
font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",Verdana,"Bitstream Vera Sans",sans-serif;
/* text-shadow: 0 1px #3b8dd2; */
background-color: blue;
background-image: -webkit-gradient(linear,left top,left bottom,from(#3b8dd2),to(#5cacf0));
background-image: -webkit-linear-gradient(top,#3b8dd2,#5cacf0);
background-image: -moz-linear-gradient(top,#3b8dd2,#5cacf0);
background-image: -ms-linear-gradient(top,#3b8dd2,#5cacf0);
background-image: -o-linear-gradient(top,#3b8dd2,#5cacf0);
background-image: linear-gradient(to bottom,#3b8dd2,#5cacf0);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.1);

}
.fg_button_prime:hover{
color: white;
text-shadow: 0 -1px #3b8dd2;
 border: 1px solid #317dbc; 
background-color: #5D8CC9;
background-image: -webkit-gradient(linear,left top,left bottom,from(#5cacf0),to(#3b8dd2));
background-image: -webkit-linear-gradient(top,#5cacf0,#3b8dd2);
background-image: -moz-linear-gradient(top,#5cacf0,#3b8dd2);
background-image: -ms-linear-gradient(top,#5cacf0,#3b8dd2);
background-image: -o-linear-gradient(top,#5cacf0,#3b8dd2);
background-image: linear-gradient(to bottom,#5cacf0,#3b8dd2);
webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.1);
}
.fg_button_bindup{
float: left;
margin: 14px 10px;
}
.fg_hide_notice{
 	opacity: .6;
	}
.tooltip{
	margin:8px;
	padding:8px;
	position: absolute;
	z-index: 2;
	width: 200px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #008B8B;
    -webkit-box-shadow: 0 1px 2px #bdc9d5;
    -moz-box-shadow: 0 1px 2px #bdc9d5;
    box-shadow: 0 1px 2px #bdc9d5;
    font: .97em, arial, sans-serif;
    text-align: center;
    color: white;
}
.tooltipsy{
	margin:8px;
	padding:8px;
	position: absolute;
	z-index: 2;
	width: 200px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #008B8B;
    -webkit-box-shadow: 0 1px 2px #bdc9d5;
    -moz-box-shadow: 0 1px 2px #bdc9d5;
    box-shadow: 0 1px 2px #bdc9d5;
    font: .97em, arial, sans-serif;
    text-align: center;
    color: white;
}
#review_message{
height: 165px;
width: 450px;
background: #09807b;
border-top: 1px solid #138681;
border-bottom: 1px solid #38a29d;
padding: 30px;
color: #fff;
margin: 40px 150px;
line-height: 24px;
font-size: 16px;
border: 2px solid rgb(10, 92, 75);
border-radius: 6px;
}
#fg_of_container .fg_controls input[type="radio"]{
width: 15px !important;
} 